<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
     <!-- Google Fonts -->
     <link
     rel="stylesheet"
     href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
   />
   <!-- CSS Reset -->
   <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
   />

   <!-- Milligram CSS -->
   <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
   />

   <!-- Jquery -->
   <script
     src="https://code.jquery.com/jquery-3.6.0.min.js"
     integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
     crossorigin="anonymous"
   ></script>
</head>
<body>
    <h1>Edit {{allPokemon.name}}</h1>
    <img src="{{allPokemon.img}}">

    <form action="/pokemon/{{id}}?_method=PUT" method="POST">
    <label>
        ID Number:<input type="number" name="id" placeholder="Enter ID" value="{{allPokemon.id}}"/>
      </label>
      <label>
        Name:<input type="text" name="name" placeholder="Enter Name" value="{{allPokemon.name}}"/>
      </label>
      <label>
        Type:<input type="text" name="type" placeholder="Enter Type(s)" value="{{allPokemon.type}}"/>
      </label>
      <h4>Stats</h4>
      <label>
        HP:<input type="text" name="hp" placeholder="Enter HP" value="{{allPokemon.stats.hp}}"/>
      </label>
      <label>
        Attack:<input type="text" name="Attack" placeholder="Enter Attack" value="{{allPokemon.stats.attack}}"/>
      </label>
      <label>
        Defense:<input type="text" name="Defense" placeholder="Enter Defense" value="{{allPokemon.stats.defense}}"/>
      </label>
      <label>
        Sp Attack:<input type="text" name="Sp Attack" placeholder="Enter Sp Attack" value="{{allPokemon.stats.spattack}}"/>
      </label>
      <label>
        Sp Defense:<input type="text" name="Sp Defense" placeholder="Enter Sp Defense" value="{{allPokemon.stats.spdefense}}"/>
      </label>
      <label>
        Speed:<input type="text" name="Speed" placeholder="Enter Speed" value="{{allPokemon.stats.speed}}"/>
      </label>

      <input type="submit" value="Submit Entry">
      <a href="/pokemon/">Back to Pokedex</a>
      </form>
</body>
</html>