<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Pokemon</title>
</head>
<body>
    <h1>Edit Your Pokemon</h1>
    <form action="">
    <li>{{index.name}} the {{index.misc.classification}} <br><img src='{{index.img}}'><br>{{index.type}}</li><br>
    <li>HP: {{index.stats.hp}}</li><br>
    <li>Attack: {{index.stats.attack}}</li><br>
    <li>Defense: {{index.stats.defense}}</li>
    </form>
    
</body>
</html>