<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="/app.css" />
		<title>Edit Pokemon</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&family=Vast+Shadow&display=swap" rel="stylesheet">
	</head>
	<body>
		<h1>Edit a Pokemon!</h1>
        <div class="eform">
		<form action="/pokemon/{{index}}?_method=PUT" method="POST">
			 
				<input type="text" name="name" value="{{ data.name }}" />
			
                
			 
				<input type="text" name="img" value="{{ data.img }}" />
			
               
			 
				<input type="text" name="type" value="{{ data.type }}" />
			
                
			 
				<input type="text" name="hp" value="{{ data.stats.hp }}" />
			
                
			 
				<input type="text" name="attack" value="{{ data.stats.attack }}" />
			
                
			 
				<input type="text" name="defense" value="{{ data.stats.defense }}" />
			</div>
			<br />
			<br />
			<input type="submit" id="sub2" value="Submit" />
		</form>
	</body>
</html>
