<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navBar">
      <h1>Pokemon Manager</h1>
      <div class="home-button-container">
        <form action="/pokemon">
          <input type="submit" value="Home" class="navInput" />
        </form>
      </div>
    </div>

    <h1>Edit Pokemon</h1>
    <img src="{{ pokemon.img }}" alt="" id="show" />
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <div>
      <form action="/pokemon/{{ index }}?_method=PUT" method="POST">
        <div class="form-row-container">
          Name:
          <input
            class="main-input"
            type="text"
            name="name"
            value="{{ pokemon.name }}"
          />
        </div>
        <div class="form-row-container">
          Type:
          <input
            class="main-input"
            type="text"
            name="type"
            value="{{ pokemon.type }}"
          /><br />
        </div>

        <div class="form-row-container">
          HP:
          <input
            class="main-input"
            type="text"
            name="hp"
            value="{{ pokemon.stats.hp }}"
          /><br />
        </div>

        <div class="form-row-container">
          ATTACK:
          <input
            class="main-input"
            type="text"
            name="attack"
            value="{{ pokemon.stats.attack }}"
          /><br />
        </div>

        <div class="form-row-container">
          DEFENSE:
          <input
            class="main-input"
            type="text"
            name="defense"
            value="{{ pokemon.stats.defense }}"
          /><br />
        </div>
        <div class="form-row-container">
          <input class="main-input" type="submit" value="Edit Pokemon" />
        </div>
      </form>
    </div>
  </body>
</html>
