<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: salmon;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
        }

        ul {
            list-style: none;
            font-size: large;
        }
    </style>
    <title>Edit Pokemon</title>
</head>

<body>
    <h1>Edit {{ data.name }}</h1>
    <form action="/pokemon/{{ index }}?_method=PUT" method="post">
        <input type="text" name="name" value="{{ data.name }}"><br>
        <input type="text" name="type1" value="{{ data.type[0] }}"><br>
        <input type="text" name="type2" value="{{ data.type[1]}}"><br>
        <input type="text" name="hp" value="{{ data.stats.hp }}"><br>
        <input type="text" name="attack" value="{{ data.stats.attack }}"><br>
        <input type="text" name="defense" value="{{ data.stats.defense }}"><br>
        <input type="submit" value="Submit Changes">
    </form>
</body>

</html>