<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="/app.css" />
		<title>Edit Pokemon</title>
	</head>
	<body>
		<h1>Edit a Pokemon!</h1>
        <div class="eform">
		<form action="/pokemon/{{index}}?_method=PUT" method="POST">
			 
				<input type="text" name="name" placeholder="{{ data.name }}" />
			
                
			 
				<input type="text" name="img" placeholder="{{ data.img }}" />
			
               
			 
				<input type="text" name="type" placeholder="{{ data.type }}" />
			
                
			 
				<input type="text" name="hp" placeholder="{{ data.stats.hp }}" />
			
                
			 
				<input type="text" name="attack" placeholder="{{ data.stats.attack }}" />
			
                
			 
				<input type="text" name="defense" placeholder="{{ data.stats.defense }}" />
			</div>
			<br />
			<br />
			<input type="submit" id="sub2" value="Submit" />
		</form>
	</body>
</html>
