<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/app.css">
    <link type="text/css" rel="stylesheet" href="{{'app.css' | asset_url}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <nav>
            <h1>Pokemon</h1>
            <div class="div"> <a href="/pokemon/new" type="submit">Add a new pokemon</a></div>
            {% for pokemon in data%}
        </nav>
        <div>
            <a href="/pokemon/{{forloop.index0}}">

                <p>{{pokemon.name}}</p></br>
                <img src="{{pokemon.img}}" class="img-style" alt="">
            </a><br>

            <a href="/pokemon/{{forloop.index0}}/edit" type="submit">Edit</a></br>
            <form action="/pokemon/{{forloop.index0}}?_method=DELETE" method="POST">
                <input type="submit" value="delete">

            </form>
            </a>
        </div>
        {% endfor %}

        </ul>



    </div>

</body>

</html>