<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Index Page</title>
</head>
<body>
    <h1>Pokemon Index Page</h1>
    <ul>
        {%for Pokemon in allPokemon %}
    <li>{{Pokemon.name}} the {{Pokemon.misc.classification}} <br><img src='{{Pokemon.img}}'><br>{{index.type}}</li><br>
    <li>HP: {{Pokemon.stats.hp}}</li><br>
    <li>Attack: {{Pokemon.stats.attack}}</li><br>
    <li>Defense: {{Pokemon.stats.defense}}</li><br><br>
    
    {%endfor%}
    </ul>
</body>
</html>