<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Index</title>
  </head>
  <body>
    <div class="container">
      <h1>Pokedex</h1>
      <form action="/pokemon/new">
        <button>
          Create New Pokemon
        </button>
      </form>
      <ul>
          {% for pokemon in allPokemon %}
          <li>
              <!-- link to show -->
              <a href="/pokemon/{{forloop.index0}}">{{pokemon.name}}</a>
              
              <!-- link to edit -->
              <a href="/pokemon/{{forloop.index0}}/edit"><img src="{{pokemon.img}}" alt="{{pokemon.name}}">Edit</a>
              
              <!-- link to delete -->
              <form action="/pokemon/{{forloop.index0}}?_method=DELETE" method="post">
                <input type="submit" value="DELETE">
              </form>
              
          </li>
          {% endfor %}
      </ul>
  </div>
  </body>
</html>
