<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../public/app.css">
    <link type="text/css" rel="stylesheet" href="{{'app.css' | asset_url}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <title>Document</title>
</head>

<body>
    <div>
        <article>
            
            <p>

                {{ data.name }}<br />
                <img src="{{data.img}}" class="img-style" alt="">



            </p>
            <p>Id:{{data.id}}</p>
            <p>
                Type:{{data.type}}</p>
            <p>Stats<br />
                hp:{{data.stats.hp}}<br/>

                attack: {{data.stats.attack}}<br/>
                defense: {{data.stats.defense}}<br/>
                spattack: {{data.stats.spattack}}<br/>
                spdefense: {{data.stats.spdefense}}<br/>
                speed:{{data.stats.speed}}<br/>
            </p>
            
            <a href="/pokemon"><button>Back to Main</button></a>
        </article>
    </div>






</body>

</html>