<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Show Page</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
        <h1>Pokemon Manager</h1>
    <button class="btn-nav" onclick=location.href="/pokemon/">Home</button>
    <button class="btn-nav" onclick=location.href="/pokemon/new">Add new Pokemon</button>
    <button class="btn-nav" onclick=location.href="/pokemon/edit">Edit Pokemon</button>
    </nav>
    <div class='pokemon-name-image'>
        <h2>Name:</h2>{{data.name}} <br>
        <img src="{{data.img}}" alt="Image of the pokemon">
    </div>
    <div class="type">
        <h2>Type:</h2>
        {% comment %} {%for pokemon in data%} {% endcomment %}
        <h4>{{data.type}}</h4>
        {% comment %} {%endfor%} {% endcomment %}
    </div>
    <div class="stats">
        <h2>Stats:</h2><br>
        <h4>HP:</h4><h6>{{data.stats.hp}}</h6><br>
        <h4>Attack:</h4><h6>{{data.stats.attack}}</h6>
        <h4>Defense:</h4><h6>{{data.stats.defense}}</h6>
        <h4>Speed:</h4><h6>{{data.stats.speed}}</h6>
    </div>
</body>
</html>