<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Poke Show</title>
		<link rel="stylesheet" href="/app.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&family=Vast+Shadow&display=swap" rel="stylesheet">
	</head>
	<body>
		<h1 class="pkshow">{{ data.name }}</h1>

		<div class="container">
			<br />
			<div>
				<img src="{{ data.img }}" />
			</div>
			<br />
			<br />
			<div>
                <ul class="ty">
                    <li>
				<b>Type:</b> {{ data.type }}
            </li>
            </ul>      
				<br />
				
			</div>
			
			<div>
                
				
            </div>
				<br />
				<br /> 
                <ul id="st">Stats:
                    <br />
                    <br />
                    <li>
                HP: {{ data.stats.hp }}
            </li>
				<br />
                <li>
				Attack: {{ data.stats.attack }}
            </li>
				<br />
                <li>
				Defense: {{ data.stats.defense }}
            </li>
				<br />
                <br />
            </ul>
				

                    
                        <a href="/pokemon/{{ index }}/edit">
                    <input type="button" name="Edit" value="Edit">
                </a>     
           
                
           
                <br />
                <br />
                    
                        
                        <form method="POST" action="/pokemon/{{ index }}?_method=DELETE" >
                            <input type="submit" name="" id="dt" onclick="return confirm('Are you SURE you want to delete this item?')" value="DELETE" />
                        </form>

                        
                        
                
           
                
			</div>
			<br />
		</div>
	</body>
</html>
