<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Poke Show</title>
	</head>
	<body>
		<h1>{{ Pokemon.name }}</h1>

		<div class="container">
            <div>
		{{ data.name }}
        </div>
            <br />
            <div>
			<img src="{{ data.img }}">
        </div>
            <br />
            <div>
            Type:
            <br />
            <br />
			{{ data.type }}
        </div>
            <br />
            <div>
			Stats
			{{ data.stats }}
        </div>
            <br />
		</div>
	</body>
</html>
