<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navBar">
      <h1>Pokemon Manager</h1>
      <div class="home-button-container">
        <form action="/pokemon">
          <input type="submit" value="Home" class="navInput" />
        </form>
      </div>
    </div>

    <h1>{{ pokemon.name }}</h1>

    <img src="{{ pokemon.img }}" alt="" id="show" />
    <div class="stats">
      <div class="form-row-container">
        <h3>Types:</h3>
        {% for type in pokemon.type %}
        <p>{{ type }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="stats">
      <div class="form-row-container">
        <h3>Stats</h3>
        HP:
        <p>{{ pokemon.stats.hp }}</p>
        Attack:
        <p>{{ pokemon.stats.attack }}</p>
        Defense:
        <p>{{ pokemon.stats.defense }}</p>
      </div>
    </div>
  </body>
</html>
