<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<h1>{{data.name}}</h1>
<body>
    <li> 
        <h2><img src=" {{data.img}}"></h2> <br>
      
    </li>
    
    <ul>STATS: 
       <li> HP: {{data.stats.hp}}</li>
        <li> ATTACK: {{data.stats.attack}}</li>
       <li> DEFENSE: {{data.stats.defense}}</li>
    </ul>
    <a href="/pokemon/"><button>Back to Main</button></a>
    <a href="/poekmon/:id/edit"><button>Edit</button></a>
</body>
</html>