<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Show Page</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/normalize.css">
</head>
<body>
    <h1>Pokemon Show Page</h1>
    <nav><a href="/pokemon/">Home</a><a href="/pokemon/new">Add New Pokemon</a></nav>
    <div class='pokemon-individual-page'>
        <h2>Name:</h2>{{data.name}} <br>
        <img src="{{data.img}}" alt="Image of the pokemon">
    </div>
    {% comment %} <div class="type">
        <h2>Type:</h2><h4>{{pokemon.type}}</h4>
        {%for pokemon in data%}
    </div>
    <div class="stats">
        <h2>Stats:</h2><br>
        <h3>HP:</h3><h4>{{data.stats.hp}}</h4><br>
        <h3>Attack:</h3><h4>{{data.stats.attack}}</h4>
        {%endfor%} {% endcomment %}
    {% comment %} </div> {% endcomment %}
</body>
</html>