<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Show Page</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
        <h1>Pokemon Manager</h1>
    <button class="btn-nav" onclick=location.href="/pokemon/">Home</button>
    <button class="btn-nav" onclick=location.href="/pokemon/new">Add new Pokemon</button>
    </nav>
    <div class='pokemon-name-image'>
        <h2>{{data.name}}</h2>
        <img src="{{data.img}}" alt="Image of the pokemon">
    </div>
    <div class="info-container">
    <div class="type">
        <h2>Type:</h2>
       {% for type in data.type%}
        {{type}}
        {%endfor%} 
         <br>
         <br>
    </div>
    <div class="stats">
        <h2>Stats:</h2>
        <h5>HP:</h5>{{data.stats.hp}}
        <h5>Attack:</h5>{{data.stats.attack}}
        <h5>Defense:</h5>{{data.stats.defense}}
        <h5>Speed:</h5>{{data.stats.speed}}
    </div>
</div>
</body>
</html>