{% layout "layout.liquid" %}
{% block headerTitle %}
<form action="/pokemon" method="GET">
    <input class="back-btn form-btn" type="submit" value="Back">
</form>
<h1>Edit {{pokemon.name}}</h1>
{% endblock%}
{% block content %}
<div class="container">
    <form action="/pokemon/{{index}}?_method=PUT" method="POST">
        <input class="save-btn form-btn" type="submit" value="Save Pokemon">
    <div class="pokemon-entry-grid-template">
            <div class="pokemon-entry-quicklook grid-item">

                <!-- <form action="/pokemon/{{index}}?_method=DELETE" method="POST"> -->
                <input class="pokemon-entry-delete form-btn" type="submit" value="X" formaction="/pokemon/{{index}}?_method=DELETE">
                

                <p><strong>ID:</strong> {{pokemon.id}}</p>
                <hr>
                <p><strong>Name:</strong> {{pokemon.name}}</p>
                <img id="pokemon-entry-quicklook-img" src="{{pokemon.img}}" alt="Image of {{pokemon.name}}">
                <p><strong>Classification:</strong> 
                <br />{{pokemon.misc.classification}}</p>
                <p id="typeP"><strong>Type:</strong></p>
                <ul class="pokemon-Type">
                    {% for type in pokemon.type %}
                    <li>{{type}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pokemon-entry-stats grid-item">
                <h2>Stats</h2>
                <hr>
                <p><strong>HP:</strong> <input type="number" min="1" max="100" name="hp" value="{{pokemon.stats.hp}}"></p>
                <p><strong>Attack:</strong> <input type="number" min="1" max="100" name="stats.attack" value="{{pokemon.stats.attack}}"></p>
                <p><strong>Defence:</strong> <input type="number" min="1" max="100" name="stats.defense" value="{{pokemon.stats.defense}}"></p>
                <p><strong>spAttack:</strong> <input type="number" min="1" max="100" name="stats.spattack" value="{{pokemon.stats.spattack}}"></p>
                <p><strong>spDefense:</strong> <input type="number" min="1" max="100" name="stats.spdefense" value="{{pokemon.stats.spdefense}}"></p>
                <p><strong>speed:</strong> <input type="number" min="1" max="100" name="stats.speed" value="{{pokemon.stats.speed}}"></p>
            </div>
            <div class="pokemon-entry-misc grid-item">
                <h2>Details</h2>
                <hr>
                <p><strong>Sex:</strong></p>
                <P><strong>Male:</strong> {{pokemon.misc.sex.male}}%</P>
                <P><strong>Female:</strong> {{pokemon.misc.sex.female}}%</P>
                <p><strong>Abilities:</strong></p>
                <P><strong>Normal:</strong> {{pokemon.misc.abilities.normal}}"></P>
                <P><strong>Hidden:</strong> {{pokemon.misc.abilities.hidden}}"></P>
                <P><strong>Height:</strong> {{pokemon.misc.height}}</P>
                <P><strong>Weight:</strong> {{pokemon.misc.weight}}</P>
            </div>
            <div class="pokemon-entry-damages grid-item">
                <h2>Damages</h2>
                <hr>
                <p><strong>Normal:</strong> <input class="input-edit" 
                    name="damages.normal"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.normal}}"></p>
                <p><strong>Fire:</strong> <input class="input-edit" 
                    name="damages.fire"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.fire}}"></p>
                <p><strong>Water:</strong> <input class="input-edit" 
                    name="damages.water"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.water}}"></p>
                <p><strong>Electric:</strong> <input class="input-edit" 
                    name="damages.electric"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.electric}}"></p>
                <p><strong>Grass:</strong> <input class="input-edit" 
                    name="damages.grass"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.grass}}"></p>
                <p><strong>Ice:</strong> <input class="input-edit" 
                    name="damages.ice"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.ice}}"></p>
                <p><strong>Fight:</strong> <input class="input-edit" 
                    name="damages.fight"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.fight}}"></p>
                <p><strong>Poison:</strong> <input class="input-edit" 
                    name="damages.poison"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.poison}}"></p>
                <p><strong>Ground:</strong> <input class="input-edit" 
                    name="damages.ground"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.ground}}"></p>
                <p><strong>Flying:</strong> <input class="input-edit" 
                    name="damages.flying"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.flying}}"></p>
                <p><strong>Psychic:</strong> <input class="input-edit" 
                    name="damages.psychic"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.psychic}}"></p>
                <p><strong>Bug:</strong> <input class="input-edit" 
                    name="damages.bug"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.bug}}"></p>
                <p><strong>Rock:</strong> <input class="input-edit" 
                    name="damages.rock"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.rock}}"></p>
                <p><strong>Ghost:</strong> <input class="input-edit" 
                    name="damages.ghost"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.ghost}}"></p>
                <p><strong>Dragon:</strong> <input class="input-edit" 
                    name="damages.dragon"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.dragon}}"></p>
                <p><strong>Dark:</strong> <input class="input-edit" 
                    name="damages.dark"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.dark}}"></p>
                <p><strong>Steel:</strong> <input class="input-edit" 
                    name="damages.steel"
                    type="number" 
                    step="0.01"
                    min="0" 
                    max="99"
                    value="{{pokemon.damages.steel}}"></p>
            </div>
        </div>
    </form>
</div>
{% endblock%}