<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Pokemon</h1>
    <form action="/pokemon/{{ index }}?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="{{ pokemon.name }}"/> <br />
      Image: <input type="text" name="img" value="{{ pokemon.img }}"/> <br />
      Types: <input type="text" name="type" value="{{ pokemon.type }}"/> <br />
      Stats: <br />
      HP: <input type="text" name="hp" value="{{ pokemon.stats.hp }}"/> <br />
      ATTACK: <input type="text" name="attack" value="{{ pokemon.stats.attack }}"/> <br />
      DEFENSE: <input type="text" name="defense" value="{{ pokemon.stats.defense }}"/> <br />
      <input type="submit" value="Submit Changes" />
      
    </form>
  </body>
</html>
