<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form action="/pokemon/{{index}}?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="{{data.name}}" /><br />
            ImageUrl: <input type="url" name="img" value="{{data.img}}" /><br />
            {% comment %} checkbox? {% endcomment %}
            Type: <input type="text" name="type" value="{{data.type | join:", "}}" /><br />
            Stats hp: <input type="number" name="hp" value="{{data.stats.hp}}" /><br />
            Stats attack: <input type="number" name="attack" value="{{data.stats.attack}}" /><br /> 
            Stats defense: <input type="number" name="defense" value="{{data.stats.defense}}" /><br /> 
            Stats spattack: <input type="number" name="spattack" value="{{data.stats.spattack}}" /><br /> 
            Stats spdefense: <input type="number" name="spdefense" value="{{data.stats.spdefense}}" /><br /> 
            Stats speed: <input type="number" name="speed" value="{{data.stats.speed}}" /><br /> 
    
            <input type="submit" name="" value="Submit Changes" />
        </form>
       
    </body>
    </html>