<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>New Pokemon page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/pokemon/{{ index }}?_method=PUT" method="POST">
        Name: <input type="text" name="name" value={{ pokemon.name }} /><br />
        Type: <input type="text" name="type" value={{ pokemon.type }} /><br />
        HP: <input type="text" name="hp" value={{ pokemon.stats.hp }} /><br />
        Attack: <input type="text" name="attack" value={{ pokemon.stats.attack }} /><br />
        Speed: <input type="text" name="speed" value={{ pokemon.stats.speed }} /><br />

        <input type="submit" value="Edit Pokemon" />
    </form>
</body>

</html>