<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pokemon</title>
</head>
<body>
        <h1>Choose your Pokemon</h1>
        <nav>
            <form action="/pokemon/{{ forloop.index0 }}/new">
                <input type="submit" value="Add a Pokemon">
            </form>
        </nav> 
        <table>
            {% for pokemon in allPokemon %}  
            <div class="box">
                <div class="poke-image">
                        <a href="/pokemon/{{ forloop.index0 }}"><img src ="{{ pokemon.img }}"></a>
                    </div>
                    <div class="class-btn">
                        <form action="/pokemon/{{ forloop.index0 }}/edit">
                            <input type="submit" value="Edit">
                        </form>
                        <form action="/pokemon/{{ forloop.index0 }}?_method=DELETE" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </div>
            </div>
            {% endfor %}
        </table>
    </div>
</body>
</html>