<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Show Pokemon</title>
  </head>
  <body>
    <h3>{{ pokemon.id }}</h3>
    <h1>{{ pokemon.name }}</h1>
    <br />
    <img src="{{ pokemon.img }}" width="200" /><br />

    <p>{{ pokemon.misc.classification | capitalize }}</p>

    <p>Type:</p>
    <ul>
      {% for type in pokemon.type%}
      <li>{{ type }}</li>
      {% endfor %}
    </ul>

    <p>Stats:</p>
    <ul>
      <li>HP: {{ pokemon.stats.hp }}</li>
      <li>Attack: {{ pokemon.stats.attack }}</li>
      <li>Defense: {{ pokemon.stats.defense }}</li>
      <li>SP Attack: {{ pokemon.stats.spattack }}</li>
      <li>SP Defense: {{ pokemon.stats.spdefense }}</li>
      <li>Speed: {{ pokemon.stats.speed }}</li>
    </ul>

    <a href="/pokemon">Back</a>
  </body>
</html>
