<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <h1>{{ pokemon.name }}</h1>
    <br>
    <img src="{{ pokemon.img }}">
    <br>
    <ul>
        <h2>Pokemon Type</h2>
        {% for type in pokemon.type %}
            <li>
                {{ type }}
            </li>
        {% endfor %}
    </ul>
    <h2>Stats</h2>
    <ul>
        <li>HP: {{ pokemon.stats.hp }}</li>
        <li>ATTACK: {{ pokemon.stats.attack }}</li>
        <li>DEFENSE: {{ pokemon.stats.defense }}</li>
    </ul>
    <button onclick="window.location.href='/pokemon'">Home</a></button>
</body>
</html>