<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.name}}</title>
    <link rel="stylesheet" href="../css/app.css">    
</head>
<body>
    <nav>
        <a href="/pokemon">Home</a>
    </nav>
  <h1>{{data.name}} Detail</h1>  
    <section>
        <img src={{data.img}} alt={{data.name}}>
        <h3>Type:</h3>
        <ul>
        {% for type in data.type %}
         <li><p>{{type}}</p> </li>   
        {% endfor %}
        </ul>
        <h3>Stats:</h3>
        <li>HP: {{data.stats.hp}}</li>
        <li>Attack: {{data.stats.attack}}</li>
        <li>Defense: {{data.stats.defense}}</li>
        <li>Spattack: {{data.stats.spattack}}</li>
        <li>Spdefense: {{data.stats.spdefense}}</li>
        <li>Speed: {{data.stats.speed}}</li>


    </section>


</body>
</html>