<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pokemon</title>
</head>
<body>
    <h1>{{ pokemon.name }}</h1>
    <br>
    <img src="{{ pokemon.img }}">
    <br>
    <ul>
        <h2>Pokemon Type</h2>
        {% for type in pokemon.type %}
            <li>
                {{ type }}
            </li>
        {% endfor %}
    </ul>
    <h2>Stats</h2>
        HP: {{ pokemon.stats.hp }}
        ATTACK: {{ pokemon.stats.attack }}
        DEFENSE: {{ pokemon.stats.defense }}
        <form action="/pokemon">
            <input type="submit" value="Home">
        </form>
</body>
</html>